body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1.caption {
  text-align: center;
}

.container {
  max-width: 960px;
}

.documents {
  margin: 50px 10px 10px 10px;
  border: 1px solid #000;
}

.document {
  border: 1px solid #000;
}

.document-content {
  margin-bottom: 5px;
}

.document-details {
  margin-top: 50px;
}
