extends layout

block content
  h1.caption Document Cloud

  div.app

  script(id='documenttemplate', type='text/x-handlebars')
    div.document-content
      h4
        <a href='#' class='file-name'>{{FileName}}</a>
      div.meta ({{FileSize}} {{DateAdded}}) 
