extends layout

block content
  h1.caption Document Cloud

  div.app

  script(id='documenttemplate', type='text/x-handlebars')
    div.document-content
      h4
        <a href='#' class='file-name'>{{FileName}}</a>
      div.meta ({{FileSize}} {{DateAdded}}) 

  script(id='documentdetailstemplate', type='text/x-handlebars')
    h3 {{FileName}}
    <p>Size: {{FileSize}}<p>
    <p>Added: {{DateAdded}}<p>

    button.btn.btn-default Download
